/* Universal elements */

@font-face {
  font-family: "norse";
  src: url("./Norse-Bold.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: #596d48;
}

label {
  font-size: 25px;
}

input {
  font-size: 25px;
  border: 2px solid #e5e7eb;
  border-radius: 5px;
}

input:focus {
  outline: 1px solid rgb(0, 204, 255);
  border: 1px solid rgb(0, 204, 255);
  box-shadow: 1px 1px 10px;
}

input:invalid {
  border: 1px solid red;
  outline: 1px solid red;
}

form {
  display: flex;
  gap: inherit;
}

/* Custom classes and elements */

.main {
  display: flex;
  min-height: 100vh;

}

.image {
  background-image: url(./danny-lines-TTRNdWfY8TY-unsplash.jpg);
  width: 40vw;
  padding-top: 15vh;
  background-size: cover;
}

.logo {
  display: flex;
  background-color: rgba(13, 9, 11, 0.66);
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "norse";
  font-size: 50px;
  padding: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 60vw;

}

.top,
.bottom {
  background-color: #b29ae6;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5vh 5vw;
}

.middle {
  font-size: 15px;
  font-weight: bolder;
  padding: 5vh 5vw;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.left-middle,
.right-middle {
  display: flex;
  flex-direction: column;
}


button {
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
  background-color: #596d48;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  border: 2px solid grey;
  box-shadow: 5px inset grey;
  margin-bottom: 15px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 30px;
  padding: 5vh;
}